<section class="section-white" id="home-view">
    <div class="panel panel-primary no-line contents">
        <div class="panel-heading"> Content </div>
        <div class="panel-body">

            

        </div>
    </div>
</section>